<div>
  <caption>
    <h2>Receipts</h2>
  </caption>

  <div class="actions-panel">
    <button color="accent" mat-flat-button [routerLink]="['..']" data-cy="action-back">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>

    <button color="primary" mat-flat-button [routerLink]="['add']" data-cy="action-new">
      <mat-icon>add</mat-icon>
      New
    </button>
  </div>

  <mmt-receipts-list [receipts]="items"
    (removeReceiptItemEvent)="removeReceipt($event)"></mmt-receipts-list>

</div>
