<div class="list-item" *ngIf="isFormView">
  <div class="field">
    <div class="field-value">
      <mat-form-field class="field">
        <mat-label>Name</mat-label>
        <input matInput name="name" formControlName="name">
      </mat-form-field>
    </div>
  </div>
  <div class="field">
    <div class="field-value">
      <mat-form-field class="field">
        <mat-label>Description</mat-label>
        <input matInput name="description" formControlName="description">
      </mat-form-field>
    </div>
  </div>
  <div class="field">
    <div class="actions">
      <div class="action-item material-symbols-outlined">add</div>
      <div class="action-item material-symbols-outlined" (click)="cancelClick()">close</div>
    </div>
  </div>
</div>

<div class="list-item" *ngIf="!isFormView">
  <div class="field">
    <div class="field-value">
      <button color="primary" mat-flat-button (click)="addCategoryClick()">
        <mat-icon>add</mat-icon>
        Add category
      </button>
    </div>
  </div>
</div>
