//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 400);
$my-accent: mat.define-palette(mat.$indigo-palette, A100, A100, A400);
$my-warn: mat.define-palette(mat.$orange-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);

html, body
{
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body
{
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

caption
{
  text-align: left;
  display: block;
  width: 100%;
}

.actions-panel, .filters-panel
{
  padding: 0 0 12px 0;
  margin-bottom: 12pt;
  border-bottom: 1pt solid #888;

  display: flex;
  gap: 10px;
}

.action-item
{
  cursor: pointer;
}

.icons.yes, .icons-toggled.yes
{
  color: green;
}

.icons.no, .icons-toggled.no
{
  color: darkred;
}
