<div>

  <div>
    <h2>Local section details {{section?.id}}</h2>
  </div>

  <div class="actions-panel">
    <button color="accent" mat-flat-button [routerLink]="['..']" data-cy="action-back">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>

  <div class="details-form" *ngIf="section">
    <section>
      <dl>
        <dt>Name</dt>
        <dd>{{ section.name }}</dd>
      </dl>

      <dl>
        <dt>Description</dt>
        <dd>{{ section.description }}</dd>
      </dl>
    </section>
  </div>

  <mmt-local-section-categories-list [categories]="categories"
    (createCategoryItemEvent)="createWalletSectionCategory($event)"
    (removeCategoryItemEvent)="removeWalletSectionCategory($event)" />

</div>
