<div>
  <div *ngFor="let item of getDirectChildItems()" class="tree-level tree-content">

    <div class="head-item">
      <div class="pointer">
        <div></div>
      </div>
      <div class="content">
        <mmt-products-list-item [item]="item" (removeEvent)="removeProduct($event)"></mmt-products-list-item>
      </div>
    </div>

    <div>
    <mmt-products-list
      [items]="items"
      [parent]="item"
      (createProductEvent)="submitProduct($event)"
      (removeProductEvent)="removeProduct($event)"></mmt-products-list>
    </div>

  </div>

  <div class="tree-level tree-add">
    <div class="pointer">
      <div></div>
    </div>
    <div>
      <mmt-product-add [parent]="parent" (createEvent)="submitProduct($event)"></mmt-product-add>
    </div>
  </div>
</div>
