@use '@angular/material' as mat;

.container
{

  margin: 20px 30px;

  .form
  {
    display: flex;
    flex-direction: column;

    .general-error
    {
      color: red;
    }

    .field
    {
      padding: 10px 0;

      .actions
      {
        .primary
        {

        }
      }
    }
  }
}
