<div class="form-container">

  <div class="caption">
    <h2>Add global section</h2>
  </div>

  <form [formGroup]="form" class="form">

    <div class="general-error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <mat-form-field class="field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <div class="field">
      <div class="actions">
        <button color="primary" mat-flat-button (click)="create()">
          Create
        </button>

        <button mat-flat-button (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>

  </form>
</div>
