@use '@angular/material' as mat;

.form
{
  display: flex;
  flex-direction: column;

  .general-error
  {
    color: red;
  }

  .field
  {
    padding: 10px 0;

    .actions
    {
      .primary
      {

      }
    }
  }
}
