button.add-button
{

  background-color: white;
  border: 2px solid rgb(92, 107, 192);
  color: rgb(92, 107, 192);

  span
  {
    max-width: 180px;
    display: block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

}

@media (min-width: 599px)
{
  .form-inline-container
  {
    .field
    {
      width: 290px;
    }
  }
}
