<div>
  <div>
    <h2>Global section details {{section?.id}}</h2>
  </div>

  <div class="actions-panel">
    <button color="accent" mat-flat-button [routerLink]="['..']">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>

  <div class="details-form" *ngIf="section">
    <div class="field">
      <div class="field-caption">
        Name
      </div>
      <div class="field-value">
        {{ section.name }}
      </div>
    </div>
    <div class="field">
      <div class="field-caption">
        Description
      </div>
      <div class="field-value">
        {{ section.description }}
      </div>
    </div>
  </div>
</div>
