<div class="form-container">
    <form class="primary">
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
  
      <div class="action-panel">
        <button mat-raised-button color="primary">Create new asset</button>
        <a mat-raised-button routerLink="/" >Back</a>
      </div>
    </form>
  </div>