<div class="list-item">

  <section class="clickable" (click)="detailsClick()" data-cy="to-info">
    <dl>
      <dt>Date</dt>
      <dd>{{ item.date | date: 'dd MMM yyyy' }}</dd>
    </dl>

    <dl>
      <dt>Location</dt>
      <dd>{{ item.location.name }}</dd>
    </dl>

    <dl>
      <dt>Sum</dt>
      <dd>{{ getItemSum(item) | number:'1.2-2' }} {{ item.currency.code }}</dd>
    </dl>

    <dl>
      <dt>Comment</dt>
      <dd>{{ item.comment }}</dd>
    </dl>

  </section>

  <aside>
    <div class="action-item material-symbols-outlined" (click)="deleteClick()" data-cy="action-delete">delete</div>
  </aside>

</div>
