.list-item
{
  display: flex;
  gap: 12pt;
  flex-wrap: wrap;
  border-bottom: 1px solid #ddd;
  padding: 8pt 24pt;

  :last-child
  {
      flex:1;
  }

  .field
  {
    .field-caption
    {
      color: #aaa;
    }

    .field-value
    {
      margin-left: 16pt;
      min-width: 96pt;
    }

    .actions
    {
      text-align: right;

      .action-item
      {
        cursor: pointer;
      }
    }
  }
}
